.imgCard {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.recipeImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ingredientsList {
  padding: 0;
  padding-top: 2rem;
  margin: 0;
  list-style-type: none;
}
.li {
  padding: 0.25rem 0;
  border-bottom: 1px dotted var(--red);
}
.name {
  margin-right: 0.25rem;
}
@media (min-width: 768px) {
  .imgCard {
    margin-right: 3rem;
  }
  .ingredientsList {
    max-width: 300px;
  }
}
