.themeButtons {
  display: none;
}

@media (min-width: 768px) {
  .themeButtons {
    display: flex;
    position: fixed;
    top: 6rem;
    right: 1rem;
    cursor: pointer;
  }
  .bucketBtn {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    color: var(--blue);
  }
}
