.backBtn {
  padding: 0.5rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 0.3s;
}
.backBtn:hover {
  color: var(--blue);
  background-color: var(--grey);
  border: 1px solid var(--blue);
  transition: all 0.3s;
}
