.link {
  text-decoration: none;
  width: 100%;
}
.li {
  background: linear-gradient(
    0deg,
    rgba(214, 223, 225, 0.4150035014005602) 100%,
    rgba(214, 223, 225, 0.3897934173669467) 100%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.2s;
}
.cardText {
  padding: 1rem;
  z-index: 1;
  transition: all 0.2s;
  border-top: 1px solid transparent;
}
.title {
  text-transform: capitalize;
  font-weight: 600;
}
@media (min-width: 768px) {
  .link {
    width: fit-content;
  }
  .img {
    min-width: 450px;
    height: 250px;
  }
  .li:hover {
    cursor: pointer;
  }
  .li:hover .img {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
  .li:hover .cardText {
    border-top: 1px solid var(--red);
    background-color: var(--grey);
    color: var(--blue);
    font-weight: bold;
    transition: all 0.2s;
  }
}
