:root {
  --white: #ffffff;
  --blue: #004562;
  --grey: #d6dfe1;
  --yellow: #ffcd59;
  --red: #fc493e;
  --background-color-home: rgba(0, 69, 98, 0.8);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: var(--white);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--blue);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue {
  color: var(--white);
  background-color: var(--blue);
}
.yellow {
  color: var(--blue);
  background-color: var(--yellow);
}
