:root {
  --white: #ffffff;
  --blue: #004562;
  --grey: #d6dfe1;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
