* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  /*font-family: ;*/
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
